body{
	font-family: 'Montserrat', sans-serif;
}
html{
	scroll-behavior: smooth;
}
.linha, .coluna, .linha_grande{
	height: 100%;
	width: auto;
	max-width: 100%;
}
.linha_grande{
	width: 1348px;
	margin: 0 auto;
	overflow: auto;
	padding: 5px 0;
}
/* grid 960px */
.linha{
	width: 960px;
	margin: 0 auto;
	overflow: auto;
	padding: 5px 0;
}
.coluna{
	padding: 0 10px;
	float: left;
}
.col1{
	width: 60px;
}
.col2{
	width: 140px;
}
.col3{
	width: 220px;
}
.col4{
	width: 300px;
}
.col5{
	width: 380px;
}
.col6{
	width: 460px;
}
.col7{
	width: 540px;
}
.col8{
	width: 620px;
}
.col9{
	width: 700px;
}
.col10{
	width: 780px;
}
.col11{
	width: 860px;
}
.col12{
	width: 940px;
}
h1, h2, h3, h5, h6{
	font-weight: 400;
	margin: 15px 0 10px 0;
}
.header{
	background: #0F2620;
	margin-top: 0;
	padding-bottom: 10px;
	max-height: auto;
}
.header h1{
	margin-left: 50px;
}
.header img{
	width: 170px;
	text-align: center;
}
ul li, ol li{
	margin-bottom: 5px;
}
nav.inline li, ul.inline li, ol.inline li{
	display: inline;
	margin-right: 15px;
}
nav.inline li:last-child, ul.inline li:last-child, ol.inline li:last-child{
	margin-right: 0;
}
/* menu */
.selo{
	display: none;
}
.selo(max-width: 769px){
	display: block;
}
.icones{
	float: right;
}
.icones img{
	padding-right: 10px;
}
.icones a:last-child{

}
.meio{
	margin-top: 2px;
	text-align: right;
}
.barra{
	background: #0F2620;
}
.barra a{
	text-decoration: none;
	color: #C6A685;
	font-size: 17px;
	text-align: center;
}
label[for="bt_menu"]{
	padding: 5px;
	background: #0F2620;
	color: #C6A685;
	font-size: 30px;
	cursor: pointer;
	width: 50px
	height: 50px;
	margin-top: 30px;
	margin-left: -30px;
}
#bt_menu{
	display: none;
}
label[for="bt_menu"]{
	display: none;
}
@media(max-width: 1339px){
	label[for="bt_menu"]{
	display: block;
	}

	#bt_menu:checked ~ .menu{
		margin-left: 0;
		display: flex;
	}

.menu a{
	padding: 5px 10px;
	text-decoration: none;
	text-align: center;
	color: #C6A685;
	display: flex;
	margin-left: 50px;
}
.menu li a:hover{
	text-decoration: none;
	text-decoration: underline;
	color: #C6A685;
}
	.menu{
		display: none;
		font-weight: 400;
		text-transform: uppercase;
	}
	.menu ul li{
		width: 100%;
		float: none;
	}
	.menu ul ul{
		position: static;
		overflow: hidden;
		max-height: 0;
		transition: all .4s;

		visibility: hidden;
		text-align: center;
		align-items: center;
		padding: 0;
	}
	.menu ul li:hover ul{
		height: auto;
		max-height: 200px;

		visibility: visible;
	}
}

/* fim do menu */
.footer{
	background: #0F2620;
	color: #C6A685;
	padding: 20px 0;
	text-align: center;
	font-weight: 100;
}
/* banner rotativo */
.galeria{
  margin: 0;
  width: 1339px;
  height: 490px;
  position: relative;
  overflow: hidden;
}
.galeria img{
	width: 1339px;
}
.foto{
  position: absolute;
  opacity: 0;
  animation-name: animacao;
  animation-duration: 15s;
  animation-iteration-count: infinite;
}
@keyframes animacao{
  25%{
    opacity: 1;
    transform: scale(1.1, 1.1);
  }
  50%{
    opacity: 0;
  }
}
.foto:nth-child(1){

}
.foto:nth-child(2){
  animation-delay: 5s;
}
.foto:nth-child(3){
  animation-delay: 10s;
}

.texto{
	margin-top: 170px;
	margin-left: 160px;
	position: absolute;
	font-size: 19px;
	text-align: center;
	color: #fff;
}
.texto p{
	background-color: rgba(29, 82, 68, 0.5);
	padding: 20px;
}

/* fim do banner */
.fundo{
	background: #0F2620;
}
.solicite h3{
  color: #C6A685;
  font-size: 35px;
  text-align: center;
}
.solicite li{
	margin: 50px 0 50px 0;
	list-style: none;
	text-align: center;
}
.solicite a{
  text-decoration: none;
  font-size: 20px;
  padding: 15px;
  background: #C6A685;
  color: #0F2620;
  border-radius: 25px;
}
.solicite a:hover{
	text-decoration: underline;
}
.resumo{
	background: #dcecbf;
}
.resumo h2{
	font-size: 40px;
	text-align: center;
}

.design h4, .fabricacao h4, .reforma h4{
  font-weight: 600;
  font-size: 30px;
  color: #0F2620;
  margin: 5px;
}
.design, .fabricacao, .reforma{
  border-style: black;
  font-size: 20px;
  color: #0F2620;
  border-radius: 25px;
  border: 1px solid #dcecbf;
  margin-top: 0px !important;
  margin: 39px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
.design a, .fabricacao a, .reforma a{
  text-decoration: none;
  color: #0F2620;
}
.design a:hover, .fabricacao a:hover, .reforma a:hover{
  text-decoration: underline;
}
.design:hover, .fabricacao:hover, .reforma:hover{
	border: 1px solid black;
}
.contato label{
	display: block;
	font-size: 13px;
	font-weight: 300;
}
.contato input, .contato textarea{
	display: block;
	margin-bottom: 15px;
	padding: 5px 2%;
	width: 500px;
}
.contato textarea{
	height: 150px;
}
.contato input.botao{
	width: auto;
}
ul.sem-marcador{
	list-style: none;
}
.sem-padding{
	padding: 0 !important;
}
.contato h3, .contato h2{
	font-weight: 600;
}
.botao{
  text-decoration: none;
  font-size: 20px;
  padding: 15px;
  background: #C6A685;
  color: #0F2620;
  border-radius: 25px;
}
.botao:hover{
	text-decoration: underline;
}
.sobre h2, .sobre h3{
	font-weight: 600;
	font-size: 20px;
	text-align: center;
	color: #0F2620;
}
.sobre{
	text-align: justify;
	line-height: 1.5;
	padding: 33px;
	margin: 30px 15px 0 15px;
	border: 2px solid #C6A685;
}
.quadro{
	height: 330px;
	margin-bottom: 30px;
}
/* lightbox - abrir janela sobre a página (janela modal) */
/* seta direita &#187 | seta esquerda &#171 */
.lbox{
	width: 0;
	height: 0;
	margin: 0;
	padding: 0;
	visibility: hidden;
	opacity: 0;
}
.verdinho{
	background: #dcecbf;
}
.sobre_galeria h2, .sobre_galeria h3{
	font-weight: 600;
	font-size: 30px;
	text-align: center;
	color: #0F2620;
}
.portfolio ul{
	width: 880px;
	list-style: none;
	display: flex;
	margin: 50px 0;
}
.portfolio ul li{
	margin-right: 30px;
}
.portfolio ul li:last-child{
	margin-right: 0;
}
.mini{
	width: 250px;
	padding: 10px;
	border: 5px solid #0F2620;
}
.min{
	border: 5px solid #C6A685;
}
.mini:hover{
	width: 252px;
}
.lbox:target{
	opacity: 1;
	visibility: visible;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(10,10,10,.7);
	position: fixed;
	z-index: 999;
}
.box_img figure{
	width: 1000px;
	margin: 40px auto;
}
.btn{
	color: #fff;
	font-weight: 300;
	text-decoration: none;
	position: absolute;
	width: 50px;
	height: 50px;
	font-size: 40px;
	text-align: center;
}
#prev{
	left: 5%;
	top: 45%;
}
#next{
	right: 5%;
	top: 45%;
}
#close{
	top: 0;
	right: 2%;
}
figcaption{
	text-align: center;
	color: #0F2620;
	background: white;
	margin-left: 20px;
}
.box_img img{
	opacity: 0;
}
.lbox{
	overflow: hidden; 
}
.lbox:target .box_img img{
	opacity: 1;
	transition: opacity .4s linear;
}
/* fim da lightbox */
/* início clientes */
.clientes{
	text-align: center;
	padding: 15px 0 15px 0;
	margin: 5px;
	border: 3px solid #C6A685;
}
.clientes img{
	width: 150px;
}
/* fim clientes */
.fixo img{
	border-radius: 25px;
}
.fixo{
	float: left;
}